<!DOCTYPE html>
<html>
    <head>
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    
        <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <script type='text/javascript'>
            $(document).on('click', '.btn', function(){
                alert("hi")
                $('#myModal').modal('show');
            });
        </script>
    </head>
    <body>
        <div id="myModal" style="display:none">
            This is a popup by jquery
        </div>
    <div class="container">
        <div class="jumbotron">
            
            <button id="searchAgain" class="col-sm-4 btn btn-primary btn-block" onclick="location.href='/';">Search again</button>    
            <br>
            <div>
                <h3>The Authors:</h3> <br>
                <div class="row">
                    <% img.forEach(function(i){ %>
                        <img src="<%=i%>" height="30%" width="30%">
                    <% }) %>
                </div>
                <h3>The Quotes:</h3>
                <% for(let i = 0; i < data.length; i++) { %>
                    <div>Author: <button class="btn btn-primary" class="btn"><%=data[i].firstName%> <%=data[i].lastName%> </button><br> <%=data[i].quote%> </div>
                <% } %>
            </div>
        </div>
    </div>
<%- include("partials/footer") %>